@using Blog.Entity.DTOs.Articles;

@model List<ArticleDTO>


<div class="sidebar-item recent-posts">
    <div class="sidebar-heading">
        <h2>En çok okunan yazılar</h2>
    </div>
    <div class="content">
        <ul>

            @foreach (var article in Model)
            {
                <li>
                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@article.Id"> 
                        <h5>@article.Title</h5>
                        <span>@article.CreatedDate</span>
                    </a>
                </li>
            }
          
            
                
           
        </ul>
    </div>
</div>